
@{
    ViewData["Title"] = "Logout";
}

<div class="container body-content">
 
    <div class="btn btn-primary btn-lg btn-block" role="alert">
        <a class="nav-link" asp-area="" asp-controller="Autentifikacija" asp-action="Registracija">Registracija</a>
    </div>
    <div class="btn btn-primary btn-lg btn-block" role="alert">
        <a class="nav-link" asp-area="" asp-controller="Autentifikacija" asp-action="Logout">Login</a>
    </div>
</div>
