
@{
    ViewData["Title"] = "Index";
}

<div class="container body-content">
    <h1 class="display-4">Dobrodošli</h1>
    <div class="btn btn-primary btn-lg btn-block" role="alert">
        <a class="nav-link" asp-area="Uposlenici" asp-controller="Teretana" asp-action="Prikazi">Prikazi teretane</a>
    </div>
</div>

